//gray : 3f3e3a;
// $gray :  #3f3e3a;
// @import 'button';

// body {
// 	background-color: blue;
// }

// blockquote {

// 	p {
// 		background-color: orange;
// 	}

// 	footer {
// 		background-color: $gray;

// 		cite {

// 			background-color: red;
// 		}
// 	}

// }

// @mixin transform($property) {
// 	transform: $property;
// 	-webkit-transform: $property;
// 	-ms-transform: $property;
// }

// nav {
// 	@include transform(rotate(30deg));
// }


// .card {
// 	@include transform(rotate(60deg));
// }

$theme-colors : (
	"primary": red
);

@import  '../../node_modules/bootstrap/scss/bootstrap';